.menu-btn{
    padding: .3rem;
    background-color: rgb(51, 51, 109);
    color: white;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: .5s;
}
body{
    margin: 0!important;
}
.menu-btn:hover{
    background-color: rgb(28, 27, 75);
}    
.active{
    background-color: rgb(80, 79, 134);    
}
header{
    min-height: 10vh;
    width: 100%;
    flex: 1;
    flex-direction: row;
    display: flex;
    padding-left: .3em;
}
section.content{
    min-height: 70vh;
}
footer{
    min-height: 20vh;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer, header{
    background-color: rgb(51, 51, 109);
}
nav.menu{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.container{
    padding: 2%;
}